.contactpage{
    background-color: #CAE4FF;
    width: 1440px;
    height: 234px;
    color: #040A40D9;
    padding-top: 50px;
    position: relative;
    padding-top: 65px;
    margin-bottom: 100px;
    align-content: center;
    padding-left: 30px 
}
.contactpage_h2{
    font-size: 64px;
    font-weight: 700;
    width: 432px;
    height: 99px;
    line-height: 100% 
}
.contactpage_p{
    width: 442px;
    height: 90px;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px
}
.formm{
    width: 768px;
    height: 412px;
    top: 559px;
    left: 66px;
    gap: 48px;
    font-size: 16px;
    font-weight: 500;
    color: #5D666F;
    line-height: 27.8px;
    padding-left: 20px;
}
.formm_maininput{
    width: 350px;
    height: 70px;
    padding: 20px 28px 28px 28px;
    box-shadow: 0px 4px 14px #000000;
    border-radius: 10px;
    margin: 13px 20px 13px 0px;
    background-color: #FFFFFF 
}
.formm_textarea,
.formm_maininput:focus{
    outline: none;
}
.formm_textarea{
    width: 720px;
    height: 120px;
    padding: 20px 23px 21px 20px ;
    box-shadow: 0px 4px 14px #000000;
    border-radius: 10px;
    margin: 15px 0px;
    background-color: #ffffff;
    resize: none;
    overflow: hidden;
}
.formm_button{
    background-color: #1886F4;
    width: 225px;
    height: 66px;
    border-radius: 12px;
    padding: 15px 45px;
    gap: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
    text-align: center 
}
@media(max-width:1000px){
    .formm{
    width: 600px;
    padding-left: 30px;
}
.formm_maininput{
    width: 250px;
}
.formm_textarea{
    width: 550px;
    height: 100px;
}
.formm_button{
    background-color: #1886F4;
    width: 200px;
    height: 50px;
    border-radius: 12px;
    padding: 15px 45px;
    gap: 10px;
    font-weight: 600;
    font-size: 20px;
}
}
@media(max-width: 600px){
    .contactpage{
        width: 390px;
        height: 138px;
        gap: 6px;
        top: 90px;
    }
    .contactpage_h2{
        font-size: 24px;
        font-weight: 700;
        line-height: 100%;
        width: 368px;
        height: 28px;
    }
    .contactpage_p{
        font-size: 14px;
        font-weight: 500;
        line-height: 100%;
        width: 326px;
        height: 46px;
        opacity: 85%;
    }
    .formm{
        width: 363px;
        height: 416px;
        top: 398px;
        margin-left: 19px;
        gap: 32px;
    }
    .formm_maininput{
        width: 260px;
        height: 44px;
        padding: 5px;
        font-size: 12px;
        font-weight: 500;
        line-height: 24px;
        border-radius: 10px;
        box-shadow: 0px 4px 25px #040A401A;
    }
    .formm_textarea{
        width: 350px;
        height: 44px;
        border-radius: 10px;
        padding: 5px;
        font-size: 12px;
        font-weight: 500;
        line-height: 24px;
        box-shadow: 0px 4px 25px #040A401A;
    }
    .formm_button{
        width: 149px;
        height: 44px;
        gap: 10px;
        border-radius: 8px;
        padding: 10px;
        font-size: 16px;
        font-weight: 600;
        line-height: 100%;
        text-align: center;
    }
}